.tableContainer{
    margin-bottom: 50px;
    width: 60vw;
  }
  table, td, th {
    border-bottom: 1px solid black;
    padding: 10px;
    margin: 5px;
  }
  
  .Table {
    margin: auto 0;
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  }
  .button {
    width: 100%;
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);

  }
  .button:hover{
      cursor: pointer;
      transform: scale(0.98);
  }
 
   .OnHover {
      display: none;
  } 
  .showMeNow:hover .OnHover{
      display: inline;
  } 
  tr:hover{
    cursor: pointer;
    
  }
  